body {
    background-color: #ffffff;
    color: #000000;
}

.card {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-body {
    background-color: #ffffff;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('images/Bandera.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.4;
}

.dashboard-body {
    background-color: #f8f9fa;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navigation {
    font-size: 16px;
}

.btn-group {
    margin-bottom: 20px;
}

.btn-group .btn {
    border-radius: 30px;
}

.btn-group .btn-primary.disabled,
.btn-group .btn-primary:disabled {
    background-color: #6c757d;
    border-color: #6c757d;
}

.rides-body {
    background-color: #f8f9fa;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

.form-control {
    border-radius: 10px;
}